---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
$base-font-size:   14px;
$base-font-weight: 400;
$heading-font-weight: 600;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$title-font-family: "Roboto Mono", mono;
$site-bg-colour:   #ddffee;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 20%);

// Width of the content area
$content-width:    800px;
// The width below which we abandon the left and right margins
$screen-medium:    $content-width;
// The width below which we replace the nav links with a hamburger box
$screen-small:     480px;


// Use media queries like this:
// @include media-query($screen-small) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;
