{% if page.comments %}

<footer class="site-footer">
  <div class="wrapper">

    <div id="disqus_thread"></div>
    <script type="text/javascript">

        var disqus_config = function () {
            this.page.url = "{{ site.url }}{{ site.baseurl }}{{ page.url }}";
            this.page.identifier = "{{ page.id }}";
        };

        (function() {
            var d = document, s = d.createElement('script');
            s.src = "//{{ site.disqus_shortname }}.disqus.com/embed.js";
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();

    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

</div>
</footer>

{% endif %}
