<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <a href="/" title="Home"><span class="icon icon--home">{% include icon-home.svg %}</span></a> &bull;
        <a href="{{ "/feed.xml" | prepend: site.baseurl }}" title="RSS"><span class="icon icon--rss">{% include icon-rss.svg %}</span></a> &bull;
        <a href="https://creativecommons.org/licenses/by-sa/4.0/" title="CC-BY-SA 4.0"><span class="icon icon--cc">{% include icon-cc.svg %}</span></a>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        {% if site.gitlab_username %}
          {% include icon-gitlab.html username=site.gitlab_username %} &bull;
        {% endif %}
        {% if site.github_username %}
          {% include icon-github.html username=site.github_username %} &bull;
        {% endif %}
        {% if site.twitter_username %}
          {% include icon-twitter.html username=site.twitter_username %}
        {% endif %}
      </div>

    </div>

  </div>

</footer>
