/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 2px solid $grey-color-dark;
    background: $site-bg-colour;
    min-height: 80px;

    // Positioning context for the mobile navigation icon
    position: relative;

}

.site-title {
    font-family: $title-font-family;
    font-size: 26px;
    font-weight: 600;
    letter-spacing: -1px;
    @include media-query($screen-small)  { margin-right: 60px; font-size: 24px; line-height: 140%; }
    margin: 8px 0 8px 0;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    font-weight: 600;

    .menu-icon {
        display: none;
    }

    .page-link {
        &,
        &:visited {
            color: $grey-color-dark;
        }

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }
    margin-top: 12px;

    @include media-query($screen-small) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-dark;
        border-radius: 5px;
        text-align: right;
        float: right;

        .menu-icon {
            display: block;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}

.site-logo {
    float: left;
    @include media-query($screen-medium) { display: none }
}


/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-dark;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 12px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
    text-align: left;
}

.footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
    text-align: right;
}

@include media-query($screen-medium) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }
}

@include media-query($screen-small) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }
    .footer-col-2 {
        float: none;
        text-align: left;
    }

}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
    @include media-query($screen-medium)
        { font-size: 24px; line-height: 120%; }
    @include media-query($screen-small)
        { font-size: 20px; line-height: 120%; }
    font-family: $title-font-family;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 28px;
    font-family: $title-font-family;
    letter-spacing: -1px;
    line-height: 120%;

    @include media-query($screen-small) {
        font-size: 24px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h1 {
        font-size: 28px;

        @include media-query($screen-small) {
            font-size: 24px; line-height: 120%;
        }
    }


    h2 {
        font-size: 24px;  font-weight: bold;

        @include media-query($screen-small) {
            font-size: 20px; line-height: 120%;
        }
    }

    h3 {
        font-size: 18px;  font-weight: bold;

        @include media-query($screen-small) {
            font-size: 16px; line-height: 120%;
        }
    }

    h4 {
        font-size: 16px;  font-weight: bold;

        @include media-query($screen-small) {
            font-size: 14px; line-height: 120%;
        }
    }
}


.documentbox {
    font-family: serif;
    h1, h2, h3, h4 { font-weight: normal; }
    border: 1px solid black;
    padding: 30px;
}
