section            { border-style: none;
                     color: black; background-color: white;
                     text-align: left;
                     margin: 10px; }

section h2
                   { font-size: 20pt; margin-top: 32px }

section h3
                   { font-size: 14pt; margin-top: 32px }

section p.preamble
                   { font-family: "Bitstream Vera Sans",Verdana,Helvetica,sans-serif; font-weight: bold }

section tbody, section li
                   { font-family: "Bitstream Vera Serif",Georgia,Times,serif; font-size: 10pt }

section p.small, section tbody   
                   { font-size:  9pt }

section pre, section .code
                   { font-family: "Bitstream Vera Sans Mono","Andale Mono","Lucida Console",monospace }
section pre        { font-size:  8pt }
section .code      { font-size:  9pt }

section p.preamble         { font-size:  9pt; width: 640px; font-style: italic; font-weight: bold }

section a:link             { color: #0000ff; background-color: transparent; text-decoration: underline }
section a:visited          { color: #000099; background-color: transparent; text-decoration: underline }
section a:active           { color: red;     background-color: white;       text-decoration: underline }
section a:hover            { color: red;     background-color: white;       text-decoration: underline }
section a.ext              { background-image: url("extlink.png");  background-position: center right;
                     background-repeat: no-repeat; padding: 0 14px 0 0 }
section a.dead             { background-image: url("deadlink.png"); background-position: center right;
                     background-repeat: no-repeat; padding: 0 14px 0 0 }
section a.pdf              { background-image: url("pdf.png");      background-position: center right;
                     background-repeat: no-repeat; padding: 0 14px 0 0 }

section thead
                   { font-family: "Bitstream Vera Sans",Verdana,Helvetica,sans-serif; font-weight: bold; font-size: 10pt }

section table              { border-style: solid; border-width: 1px; border-color: black;
                     border-spacing: 0; border-collapse: collapse }

section td                 { border-style: solid; border-width: 1px; border-color: black;   
                     margin: 0; padding: 3px; vertical-align: middle }

section table.grid         { border-style: solid; border-width: 2px; border-color: #cc6600 }
section .grid th           { border-style: solid; border-width: 1px; border-color: black; margin: 0; padding: 3px }
section .grid td           { border-style: solid; border-width: 1px; border-color: black; margin: 0; padding: 3px }

section table.box          { border-style: solid; border-width: 2px; border-color: #cc6600 }
section .box td            { border-style: none;  margin: 0; padding: 0 6px 0 6px }

section table.nogrid       { border-style: none }
section .nogrid td         { border-style: none;  margin: 0; padding: 0px }

/* semantic classes for file lists and code */

section td.file            { font-family: "Bitstream Vera Sans Mono","Andale Mono","Lucida Console",monospace;
                     font-size: 8pt; text-align: left  }
section td.lines           { font-size: 9pt; text-align: left  }
section td.pct             { font-size: 9pt; text-align: right }
section pre.okay           { color: #007700; background-color: white; margin-top: 0; margin-bottom: 0; padding: 0 0 0 10px }
section pre.viol           { color: #BB0000; background-color: white; margin-top: 0; margin-bottom: 0; padding: 0 0 0 10px;
                     background-image: url("viol.gif"); background-position: center left; background-repeat: repeat-y }

/* semantic classes for the violations chart */

.item                      { font-size: 12pt; font-family: "Bitstream Vera Sans",Verdana,Helvetica,sans-serif; font-weight: bold; text-align: center }
.status                    { font-size:  9pt; font-family: "Bitstream Vera Sans",Verdana,Helvetica,sans-serif; font-weight: bold; text-align: center }
.history                   { font-size:  8pt; font-family: "Bitstream Vera Sans",Verdana,Helvetica,sans-serif; font-weight: bold; text-align: center }
section td.detail          { font-size:  9pt; text-align: left; width: 50% }
section td.tabnum          { font-size:  9pt; text-align: center }
section td.disco           { font-size:  9pt; text-align: center; color: black; background-color: #ffff99 }
section td.sysv            { font-size:  9pt; text-align: center; color: black; background-color: #99ffff }
section td.aix             { font-size:  9pt; text-align: center; color: black; background-color: #99ccff }
section td.dynix           { font-size:  9pt; text-align: center; color: black; background-color: #ccffcc }
section td.linibm          { font-size:  9pt; text-align: center; color: black; background-color: #ffcccc }
section td.linsco          { font-size:  9pt; text-align: center; color: black; background-color: #ffcccc }
section td.note            { font-size:  9pt; text-align: left }
section .defunct td.item   { color: white; background-color: #666666; font-weight: bold   }
section .defunct td.status { color: white; background-color: #666666; font-weight: bold   }
section .defunct td.alleg  { color: black; background-color: #dddddd; font-weight: normal }
section .defunct td.detail { color: black; background-color: #dddddd; font-weight: normal }
section .defunct td.note   { color: black; background-color: white;   font-weight: normal }
section .ongoing           { color: black; background-color: white   }
section .limit             { color: black; background-color: #cccccc }
section td.keyref,  section td.footref,  section td.motref  { border-style: none; padding: 2px 10px 2px 2px; margin: 0; text-align: right; vertical-align: text-bottom }
section td.keyitem, section td.footitem, section td.motitem { border-style; none; padding: 2px;              margin: 0; text-align: left;  vertical-align: text-bottom }
